html, body, #content {
	width: 100%;
	height: 100%;
	margin: 0;	
	display: flex;
	flex-direction: row;
	background-color: #111;
	justify-content: center;
}

.interface {
	display: flex;
	flex-direction: column;
	gap: 1%;
	outline: none;
}

@media (max-aspect-ratio: 9/15) {
	.interface {
		flex: 1;
	}
}

@media (min-aspect-ratio: 9/15) {
	.interface {
		height: 100%;
		align-items: center;
	}

	.game {
		aspect-ratio: 20/26;
	}

	.bottom_buttons {
		width: 51vh;
	}
}

.game {
	display: flex;
	flex: 1;
}

.board {
	flex: 10;
    position: relative;
}

.board-canvas {
	width: 100%;
	bottom: 0%;
	position: absolute;
	aspect-ratio: 10/26;
}

.sidebar {
	position: relative;
}

@media (max-aspect-ratio: 9/15) {
	.sidebar {
		flex: 3;
	}
}

@media (min-aspect-ratio: 9/15) {
	.sidebar {
		flex: 5 !important;
	}
}

.top-buttons {
	width: 100%;

	display: flex;
	flex-direction: column;
}

.side-buttons {
	width: 100%;
	bottom: 0%;
	position: absolute;


	display: flex;
	flex-direction: column;
}

.hold, .queue {
	width: 80%;

	margin: 10% 10% 0%;
}

.hold {
	aspect-ratio: 4/3;
}

.queue {
	aspect-ratio: 8/28;
}

.bottom_buttons {
	display: flex;
	flex-direction: column;
}

.button-row {
	display: flex;
	aspect-ratio: 5/1;
}

.button-row>button {
	flex: 1;
}

.top-button, .side-buttons>button {
	width: 80%;
	aspect-ratio: 4/3;

	margin: 10% 10% 0%;

}

button {
	border: none;
	outline: none;
	background-color: #666;
	margin: 2px;
	padding: 0;
}

button>img {
	max-width: 100%;
	max-height: 100%;
	pointer-events: none;
}